# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# We're node too!
/node_modules

# We're yarn! So don't, like, use the npm lockfile!
/package-lock.json

# Webpack generates our bundled stuff into the dist/
/priv/static/dist

# Hey I just wanted to take this moment to say, at the bottom of this gitignore,
# be nice to someone today. It doesn't matter who, but you gotta be nice to
# someone, and like actually nice, not passive aggressively nice. You gotta do
# it because the gitignore told you to.
